nav img{
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
    border-radius: 50%;
}
main{
    text-align: center;
}
#codes{
    width: 98%;
    min-height: 280px;
    border-radius: 16px;
    border: 2px solid rgb(131, 131, 131);
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}
#buttons button{
    width: 47%; 
    border-radius: 12px;
    border: 0px;
    padding: 10px;
}
#remove{
    background-color: rgb(255, 30, 30);
    color: white;
}
#play{
    background-color: rgb(39, 39, 39);
    color: white;
}

#title-result{
    padding: 10px;
    border-bottom: 2px solid rgb(131, 131, 131);
    margin: 8px 0px;
    font-weight: bold;
}
#result{
    max-width: 100% !important;
}