*{
    font-size: 22px;
    max-width: 100%;
}
h2{
    width: 100%;
    text-align: center;
    background-color: rgb(238, 83, 44);
    color: aliceblue;
    padding: 20px 0px;
}
textarea{
    width: 100%;
    height: 200px;
}
button{
    text-align: center;

 width: 49.5%;
 background-color: #262a2d;
 color: white;
 padding: 20px 0px;
}
div{
    min-height: 200px;
}