*{
    margin: 0px;
}
#iphone{
    width: 100%;
    display: flex;
   justify-content: center;
   border-bottom: 2px solid #a9a9a8;
   padding: 3px 0px;
   display: none; 
}
#iphone img{
    height: 65px;
    width: 65px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 13px;
}
#close-iphone{
    font-weight: bold;
    font-size: 26px;
    line-height: 65px;
    color: #888888;
    margin: 0px 13px;
    cursor: pointer;
}
#text-iphone{
    width: 40%;
}
#app_name-iphone{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 11px 0px;
    color: black;
}
#app_title-iphone{
    font-size: 14px;
    font-family: monospace;
    color: black;
}
#iphone button{
    width: 25%;
    background: rgb(255, 54, 54);
    color: white;
    height: 40px;
    border:0px;
    margin-top: 15px;
    border-radius: 14px;
}